<table>
  <thead>
    <tr>
      <th> Store </th>
      <th> Model </th>
      <th> Quantity </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= product.inventory_class %>" id="product_<%= product.id %>" >
        <td> <%= product.store %> </td>
        <td> <%= product.model %> </td>
        <td class='quantity'> <%= product.quantity %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
